{% extends 'base.html' %}

{% block title %}<title>VampLife</title>{% endblock %}

{%  block content %}
    <main class="page landing-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" style="background-image: url(&quot;static/assets/img/photo-1544244688-4165905762c1.jpg&quot;);"></div>
                <div class="about-me">
                    <p class="mb-3" style="font-family: 'Beth Ellen', serif;">Welcome to the sancuary of the living-dead. Many have been bitten but few have been chosen. Take our Vampire Bloodline test today.</p><a class="btn btn-outline-primary" role="button" href="/vamp_test">Test Me Now !</a>
                </div>
            </div>
        </section>
        <section class="portfolio-block photography">
            <div class="container">
                <div class="row g-0 d-flex justify-content-center">
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" alt="sunset photograph during nighttime" src="static/assets/img/photo-1566312922674-e02730f7b912-1.jpg"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" alt="a narrow tunnel with a light at the end" src="static/assets/img/photo-1648833727869-c69b30e2316c.jpg"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" alt="a woman's hands holding an open book" src="static/assets/img/photo-1603491304900-20a5dd9be633.jpg"></a></div>
                </div>
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3 class="text-center mb-3" style="font-family: 'Beth Ellen', serif;">Have you been visited by a spirit of the night?</h3><a class="btn btn-outline-primary btn-lg mb-3" role="button" href="/vamp_test">See If You've Been Chosen...</a>
                </div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <!-- Start: portfolio heading -->
                <div class="heading">
                    <h2>Special Skills</h2>
                </div><!-- End: portfolio heading -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-stopwatch" style="background-color: black;"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Can Live Forever</h3>
                                <p class="card-text">Eternal life offers vampires the chance to witness centuries unfold, accumulating vast knowledge and shaping history. Immortality provides endless opportunities to refine their talents and deepen their understanding of the world.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-body" style="background-color: black;"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Supernatural Strength</h3>
                                <p class="card-text">Vampiric strength surpasses human limits, empowering them to overpower enemies and perform extraordinary feats. This strength is both a weapon and a tool for protection, instilling fear and commanding respect in the supernatural and human realms.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-eye" style="background-color: black;"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Night Vision</h3>
                                <p class="card-text">A vampire's night vision allows them to see clearly in the dark, transforming night into an ally. This ability enhances their hunting prowess, giving them a strategic advantage over their prey and connecting them more deeply to the nocturnal world.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>Our Purpose:</h3>
                    <p>Is to provide a safe haven for those who have been chosen by the night. We offer a variety of services to help you navigate your new life as a vampire. We offer a variety of services to help you navigate your new life as a vampire. We offer a variety of services to help you navigate your new life as a vampire.</p><a class="btn btn-outline-light" role="button" href="/vamp_test">Take the Test</a>

                </div>
                <div class="col-md-12 col-lg-5">
                    <div class="portfolio-laptop-mockup">
                        <div class="screen">
                            <div class="screen-content" style="background-image:url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.historicmysteries.com%2Fwp-content%2Fuploads%2F2016%2F10%2FDracula.jpg&f=1&nofb=1&ipt=01a6942823bb27a98f2dbb6c9bbfb5a0d8e3643579417496f90de51aac04d5a7&ipo=images);"></div>
                        </div>
                        <div class="keyboard"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
{% endblock %}
